{% extends 'layout.html' %}
{% block content %}
    <h1>{{client.name}}</h1>
    <h6>{{client.email}}</h6>
    <h6>{{client.phone_number}}</h6>
    <h6 class="mb-4">Created: 2019-15-1</h6>
    {% for product in client.products %}
        <div>
            <a href="#" class="request-card">
                <div class="card bg-light mb-3 p-3 mr-0">
                    <div class="p-1">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Sample Product Description</p>
                        {% for area in product.areas %}
                            <span class="badge badge-info">{{ area }}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock content %}