{% extends 'layout.html' %}
{% block content %}
    <h2 class="mb-3">Your Clients</h2>
    <table class="table table-striped">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Created At</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Products</th>
        </tr>
      </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{client.name}}</th>
                <td>{{client.email}}</td>
                <td>{{client.created_at}}</td>
                <td>{{client.phone_number}}</td>
                <td><a href="/client/{{client.name}}">View Products</a></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-outline-info" onclick="window.location='/create_client'">Add New Client</button>
{% endblock content %}