{% extends 'layout.html' %}
{% block content %}
    {% for request in requests %}
        <div>
            <a href="/request/{{request.id}}" class="request-card">
                <div class="card bg-light mb-3 p-3 mr-0">
                    <div class="p-1">
                        <h5 class="card-title">{{ request.title }}</h5>
                        <p class="card-text">{{ request.description }}</p>
                        <p class="text-secondary">Client: {{request.product.owner.name}}</p>
                        <span class="badge badge-secondary p-2">{{ request.state.value }}</span>
                        <span class="badge badge-info p-2">{{ request.product.name }}</span>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock content %}