{% extends 'layout.html' %}
{% block content %}
    <h1>{{request.title}}</h1>
    <h6 class="pb-2">{{request.description}}</h6>
    <table class="table table-striped border-bottom pb-3">
        <tbody>
            <tr>
                <th scope="row">Creation Date</th>
                <td>{{request.created_at.strftime('%Y-%b-%d')}}</td>
            </tr>
            <tr>
                <th scope="row">Target Date</th>
                <td>{{request.target_date.strftime('%Y-%b-%d')}}</td>
            </tr>
            <tr>
                <th scope="row">Client</th>
                <td>{{request.product.owner.name}}</td>
            </tr>
            <tr>
                <th scope="row">Product</th>
                <td>{{request.product.name}}</td>
            </tr>
            <tr>
                <th scope="row">Product Area</th>
                <td>{{request.product_area}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-info">Mark As Done</button>
    <button class="btn btn-outline-info" onclick="window.location='/request/{{request.id}}/update'">Edit</button>
    <button class="btn btn-outline-danger">Delete</button>
{% endblock content %}