{% extends 'layout.html' %}
{% block content %}
    <h1>{{request.title}}</h1>
    <h6 class="pb-2">{{request.description}}</h6>
    <table class="table table-striped border-bottom pb-3">
        <tbody>
            <tr>
                <th scope="row">Creation Date</th>
                <td>{{request.created_at.strftime('%Y-%b-%d')}}</td>
            </tr>
            <tr>
                <th scope="row">Target Date</th>
                <td>{{request.target_date.strftime('%Y-%b-%d')}}</td>
            </tr>
            <tr>
                <th scope="row">Client</th>
                <td>{{request.product.owner.name}}</td>
            </tr>
            <tr>
                <th scope="row">Product</th>
                <td>{{request.product.name}}</td>
            </tr>
            <tr>
                <th scope="row">Product Area</th>
                <td>{{request.product_area}}</td>
            </tr>
            <tr>
                <th scope="row">Request State</th>
                <td>{{request.state.value}}</td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3 pb-3 border-bottom">
        <h6>Request state</h6>
        {% for state in request_states %}
        <div class="form-check-inline">
            <input class="form-check-input" type="radio" name="stateRadios" id="{{state.value.lower().replace(' ', '-')}}"
                   value="{{state.name}}" onclick="handleStateChange('{{state.name}}', {{request.id}})"
                   {% if request.state.name == state.name%} checked {% endif %}>
            <label class="form-check-label" for="exampleRadios1">
                {{state.value}}
            </label>
        </div>
        {% endfor %}
    </div>

    <button class="btn btn-outline-info" onclick="window.location='/request/{{request.id}}/update'">Edit Request</button>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete Request</button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Feature Request?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure? This action cannot be undone
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('clients.delete_request', request_id=request.id) }}" method="post">
                <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='stateChange.js') }}"></script>
{% endblock content %}